In [2]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# sorts age list
ages.sort()
print("sorted ages:", ages)
# minimum age
x=min(ages)
print("Minimum age:", x)
# maximum age
y=max(ages)
print("Maximum age:", y)
# add min & max values again
ages.append(min(ages))
ages.append(max(ages))
print("Added min & max values again:", ages)
#using statistics library to find median
import statistics
print("median age:", statistics.median(ages))
# Average age
avg=sum(ages)/len(ages)
print("average age:", avg)
#range of the ages
rng=max(ages)-min(ages)
print("range of the ages:", rng)

sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age: 19
Maximum age: 26
Added min & max values again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median age: 24.0
average age: 22.75
range of the ages: 7

In [9]:
dog={}
#dog dictionary
dog={'name':'charlie','clolor':'White','breed':'Bulldog','legs':'4','age':'3'}
print("dog dictionary:", dog)
#student dictionary
student={'first_name':'Ramya','last_name':'Allola','gender':'Female','age':'25','marital_status':'single',
         'skills':['python','java','c'],'country':'India','city':'Hyderabad','Address':'4/37'}
print("student dictionary:", student)
#length of the student dictionary
print("length of the student dictionary:",len(student))
#get the value of skills 
print("student skills:", student['skills'])
#verify the data type of skills
print("skills datatype:", type(student['skills']))
#add one or two skills
student['skills'].append('selenium')
print("new skill added:", student)
#get dog and student key and values
print("Dog keys:",dog.keys())
print("Dog values:",dog.values())
print("student keys:", student.keys())
print("student values:",student.values())

dog dictionary: {'name': 'charlie', 'clolor': 'White', 'breed': 'Bulldog', 'legs': '4', 'age': '3'}
student dictionary: {'first_name': 'Ramya', 'last_name': 'Allola', 'gender': 'Female', 'age': '25', 'marital_status': 'single', 'skills': ['python', 'java', 'c'], 'country': 'India', 'city': 'Hyderabad', 'Address': '4/37'}
length of the student dictionary: 9
student skills: ['python', 'java', 'c']
skills datatype: <class 'list'>
new skill added: {'first_name': 'Ramya', 'last_name': 'Allola', 'gender': 'Female', 'age': '25', 'marital_status': 'single', 'skills': ['python', 'java', 'c', 'selenium'], 'country': 'India', 'city': 'Hyderabad', 'Address': '4/37'}
Dog keys: dict_keys(['name', 'clolor', 'breed', 'legs', 'age'])
Dog values: dict_values(['charlie', 'White', 'Bulldog', '4', '3'])
student keys: dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'Address'])
student values: dict_values(['Ramya', 'Allola', 'Female', '25', 'single', ['python', 'java', 'c', 'selenium'], 'India', 'Hyderabad', '4/37'])

In [10]:
sisters=("Ramya","Ravali","Amulya")#sisters
brothers=("sai","sarvesh","bharath")#brothers
#siblings
siblings=sisters+brothers
print("siblings are:",siblings)
print("number of siblings are:",len(siblings))
#Modify siblings tuple and add name of father and mother and assign it to family_members
family_members=siblings+("Ramreddy","Pushpa")
print("family members are:", family_members)

siblings are: ('Ramya', 'Ravali', 'Amulya', 'sai', 'sarvesh', 'bharath')
number of siblings are: 6
family members are: ('Ramya', 'Ravali', 'Amulya', 'sai', 'sarvesh', 'bharath', 'Ramreddy', 'Pushpa')

In [15]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
#length of it companies
print("length of it_companies:",len(it_companies))
#after adding one company
it_companies.add("Twitter")
print("After adding one company:", it_companies)
#after adding multiple companies
mul_companies={"Infosys","cognizant","CGS"}
it_companies.update(mul_companies)
print("After adding multiple companies:",it_companies)
#remove one company
it_companies.remove("Amazon")
print("After removing one company:", it_companies)
it_companies.discard("Amazon")
print("After discarding company:", it_companies)
#it_companies.clear()
#print(it_companies)
#del it_companies
#print(it_companies)

length of it_companies: 7
After adding one company: {'Apple', 'Twitter', 'Google', 'Facebook', 'Oracle', 'Microsoft', 'Amazon', 'IBM'}
After adding multiple companies: {'Google', 'Facebook', 'Oracle', 'Microsoft', 'Infosys', 'IBM', 'Apple', 'cognizant', 'CGS', 'Twitter', 'Amazon'}
After removing one company: {'Google', 'Facebook', 'Oracle', 'Microsoft', 'Infosys', 'IBM', 'Apple', 'cognizant', 'CGS', 'Twitter'}
After discarding company: {'Google', 'Facebook', 'Oracle', 'Microsoft', 'Infosys', 'IBM', 'Apple', 'cognizant', 'CGS', 'Twitter'}

In [19]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
#union of A and B
print("Join A and B;", A.union(B))
#intersection of A and B
print("Intersection of A and B:",A.intersection(B))
print("A subset of B:", A.issubset(B))
print("A and B are disjoint sets:", A.isdisjoint(B))
print("Join A with B:", A.union(B))
print("Join B with A:", B.union(A))
print("Symmetric diff:", A.symmetric_difference(B))
del A
del B
age = [22, 19, 24, 25, 26, 24, 25, 24]
s=set(age)
print("Converting list to Set:", s)
print("Length of list:",len(age))
print("Length of set:", len(s))
print("comparing lenths of list and set:",len(age)-len(s))

Join A and B; {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
A subset of B: True
A and B are disjoint sets: False
Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric diff: {27, 28}
Converting list to Set: {19, 22, 24, 25, 26}
Length of list: 8
Length of set: 5
comparing lenths of list and set: 3

In [24]:
radius=30
area_of_circle=3.14*radius**2
print("Area of circle:", area_of_circle)
circum_of_circle=2*3.14*radius
print("circumference of circle:", circum_of_circle)
radius=int(input("enter the radius:"))
print("area=",3.14*radius**2)

Area of circle: 2826.0
circumference of circle: 188.4
enter the radius:5
area= 78.5

In [26]:
s="I am a teacher and I love to inspire and teach people"
#Use the split methods to seperate the words
spt=set(s.split())
print(spt)
print("Length:",len(spt))

{'love', 'people', 'teacher', 'to', 'teach', 'am', 'inspire', 'a', 'I', 'and'}
Length: 10

In [29]:
print("Name\t Age\tCountry\tCity\t\nAsabeneh 250\tFinland\tHelsinki")

Name	 Age	Country	City
Asabeneh 250	Finland	Helsinki

In [30]:
radius = 10
area = 3.14* radius**2
print("The area of circle with radius {} is {} meters square.".format(str(radius),str(area)))

The area of circle with radius 10 is 314.0 meters square.

In [33]:
N=int(input("enter no. of students:"))
L=list(map(int,input("enter the weights in lbs: ").strip().split()))[:N]
K=[]
for i in L:
    kg=i*0.45359237
    K.append(round(kg,2))
print("weight in kgs is:",K)

enter no. of students:5
enter the weights in lbs: 100 120 140 160 180
weight in kgs is: [45.36, 54.43, 63.5, 72.57, 81.65]